{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR  IES</title>

    <!-- Gunakan static path -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
</head>
<body>
    <div id="error">
        <div class="container text-center pt-32">
            <h1 class='error-title'>403</h1>
            <p>You're not allowed in here</p>
            <a href="http://127.0.0.1:8000/login" class='btn btn-primary'>Go Home</a>
        </div>

        <div class="footer pt-32">
            <p class="text-center">Copyright &copy; Voler 2020</p>
        </div>
    </div>
</body>
</html>
