{% extends 'base_login.html' %}
{% block title %}Lupa Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h4 class="text-center mb-4">Lupa Password</h4>
                <form method="post" action="{% url 'login_sistem:forgot_password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Anda</label>
                        <input type="email" class="form-control" name="email" placeholder="xxxx@xxxx.com" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Kirim Kode OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
