{% extends 'base_consignee.html' %}

{% block title %}List Reservasi{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 px-3">
        <h1 class="h3 mb-0 text-dark">Daftar Reservasi</h1>
        <a href="{% url 'consignee:dashboard' %}" class="btn btn-secondary">← Kembali</a>
    </div>

    <!-- DataTable -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Reservasi</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>ID Reservasi</th>
                            <th>Container</th>
                            <th>Status</th>
                            <th>Tracking In</th>
                            <th>Tracking Out</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in reservasi %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.reservasi_id }}</td>
                            <td>{{ r.jumlah_container }} Container Terdaftar</td>
                            <td>
                                {% if r.status == 0 %}
                                    <span class="badge bg-warning">{{ r.get_status_display }}</span>
                                {% elif r.status == 1 %}
                                    <span class="badge bg-primary">{{ r.get_status_display }}</span>
                                {% elif r.status == 2 or r.status == 3 %}
                                    <span class="badge bg-danger">{{ r.get_status_display }}</span>
                                {% else %}
                                    <span class="badge bg-light">No Action</span>
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if r.track_in == 0 %}
                                    <span class="badge bg-secondary">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 1 %}
                                    <span class="badge bg-info">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 2 %}
                                    <span class="badge bg-primary">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 3 %}
                                    <span class="badge bg-warning">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 4 or r.track_in == 5 %}
                                    <span class="badge bg-success">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 6 %}
                                    <span class="badge bg-danger">{{ r.get_track_in_display }}</span>
                                {% elif r.track_in == 7 %}
                                    <span class="badge bg-dark">{{ r.get_track_in_display }}</span>
                                {% else %}
                                    <span class="badge bg-light">No Action</span>
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if r.track_out == 0 %}
                                    <span class="badge bg-secondary">{{ r.get_track_out_display }}</span>
                                {% elif r.track_out == 1 %}
                                    <span class="badge bg-info">{{ r.get_track_out_display }}</span>
                                {% elif r.track_out == 2 %}
                                    <span class="badge bg-primary">{{ r.get_track_out_display }}</span>
                                {% elif r.track_out == 3 %}
                                    <span class="badge bg-warning">{{ r.get_track_out_display }}</span>
                                {% elif r.track_out == 4 %}
                                    <span class="badge bg-success">{{ r.get_track_out_display }}</span>
                                {% elif r.track_out == 5 %}
                                    <span class="badge bg-dark">{{ r.get_track_out_display }}</span>
                                {% else %}
                                    <span class="badge bg-light">No Action</span>
                                {% endif %}
                            </td>                            
                            <td>
                                <a href="{% url 'consignee:reservasi_detail' reservasi_id=r.reservasi_id %}" class="btn btn-sm btn-info" title="Lihat Foto">
                                    <i class="fa fa-search"></i> Detail
                                </a>                                    
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="14" class="text-center">Belum ada data reservasi.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
