{% extends 'login/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{% static 'assets/images/intercon.jpg' %}" height="48" class='mb-4'>
                        <h4>Reset Password</h4>
                        <p>Masukkan email akun Anda untuk menerima kode OTP.</p>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left">
                            <label for="email">Email</label>
                            <div class="position-relative">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                                <div class="form-control-icon">
                                    <i data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mt-4">
                            <a href="{% url 'login:login' %}">Kembali ke login</a>
                            <button type="submit" class="btn btn-primary float-right">Kirim OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
