{% extends 'login/base.html' %}
{% load static %}

{% block title %}Verifikasi OTP{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{% static 'assets/images/intercon.jpg' %}" height="48" class='mb-4'>
                        <h4>Verifikasi Kode OTP</h4>
                        <p>Masukkan kode OTP yang telah dikirim ke email Anda.</p>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left">
                            <label for="otp">Kode OTP</label>
                            <div class="position-relative">
                                <input type="text" name="otp" class="form-control" placeholder="Masukkan 6 digit kode" required>
                                <div class="form-control-icon">
                                    <i data-feather="key"></i>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mt-4">
                            <a href="{% url 'login:reset_password_request' %}">Kirim ulang OTP</a>
                            <button type="submit" class="btn btn-primary float-right">Verifikasi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
